<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<!-- <FlexboxLayout class="page left-gradient" flexDirection="column" alignContent="center" alignItems="center">  -->

   <!-- <Image [src]="logowin" stretch="none"></Image> -->




 <!--   <Label   text="Email address"></Label>  -->

 <!--   <TextField hint="Enter date" class="input input-border"> </TextField> -->

<FlexboxLayout id="layout" class="page" (tap)="clearTextfieldFocus($event)">
    <Image [src]="logowin" stretch="none" marginTop="5%"></Image>
    <StackLayout class="form hr-dark">
        <StackLayout class="input-field">
            <Label   text="Username" color="#008b8b" fontSize="20" ></Label>
            <TextField #Textfield required hint="Inserisci email" [(ngModel)]="username" class="input"></TextField>

        </StackLayout>

        <StackLayout class="input-field">
            <Label   text="Password" color="#008b8b" fontSize="20"></Label>
            <TextField #Textfield required hint="Inserisci password" [(ngModel)]="password" class="input" ></TextField>

        </StackLayout>

        <Button text="Log In" class="btn btn-primary" (tap)="onSubmit()" )></Button>
   </StackLayout>


</FlexboxLayout>







<!-- </FlexboxLayout> -->
    <!--


    QUESTO FUNZIONA   <Button  text="Login" class="btn btn-facebook btn-block" [nsRouterLink]="['/dashboard/default']" ></Button>


        <input id="inputEmail" name="email" type="text" class="form-control" placeholder="Nome utente o indirizzo e-mail" required autofocus />
    <label for="inputPassword" class="sr-only">Email address</label>
                                <input id="inputPassword" name="password"  type="password" class="form-control" placeholder="Password" required />

                                <label class="checkbox">
                                    <input type="checkbox" value="remember-me" />
                                    Ricordami
                                </label>

                            <Button class="btn btn-lg btn-block blue-bg" [nsRouterLink]="['/dashboard/default']" ]>
                                Login</Button>

                        <a class="forgotLnk" href="#">Ho dimenticato la password</a>

                            <span class="or">oppure</span>   -->


                                <!--    <input type="hidden" name="scope" value="public_profile" />
                                   -->
<!--
                                <a href="#" class="btn btn-google btn-block">Google</a>

                                <a class="btn btn-primary btn-block">Crea un nuovo account</a>
-->






